.myBtn {
    padding: 5px 15px;
    color: #000000;
    font-size: 14px;
    background: white;
    border: 5px solid #a878d9;
    border-radius: 8px;
    cursor: pointer;
}

.myBtn:hover {
    background-color: rgba(84, 210, 172, 0.45);
    transition: background-color, box-shadow 0.25s linear;
    box-shadow: black 3px 3px 5px;
}